@use '@/styles/variables/colors' as colors;
@use '@/styles/media' as media;

.money-list {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: colors.$black-5;

  @include media.min-width-1024 {
    background-color: colors.$white-100;
  }

  &__item {
    width: 60%;
  }
}
