@use '@/styles/variables/colors' as colors;
@use '@/styles/media' as media;

.game {
  &__header {
    @include media.min-width-1024 {
      display: none;
    }
  }

  &__screen {
    display: flex;
    flex-direction: column;
    background-color: colors.$black-5;

    @include media.min-width-1024 {
      display: grid;
      grid-template-columns: 3fr 1fr;
    }
  }

  &__sidebar {
    display: none;

    @include media.min-width-1024 {
      display: block;
    }
  }
}
